<p>
    <H3>By Lot</H3>
</p>


@(Html.Kendo().Grid<HFS.Service.Models.LotSummaryItem>()
          .Name("LotSum")
          .Columns(columns =>
          {
              columns.Bound(p => p.Equity).ClientFooterTemplate("Total"); ;
              columns.Bound(p => p.Portfolio).HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" });
              columns.Bound(p => p.Basket).HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" });
              columns.Bound(p => p.Shares).HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" });
              columns.Bound(p => p.Cost).HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .Format("{0:C}")
                  .HtmlAttributes(new { @style = "text-align:right" });
              columns.Bound(p => p.Value).HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:right" })
                  .Format("{0:C}")
                  .ClientFooterTemplate("<div style='float: right'>#= kendo.format('{0:c}', sum)#</div>");
              columns.Bound(p => p.ShareValue).HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .Format("{0:C}")
                  .HtmlAttributes(new { @style = "text-align:right" });
              columns.Bound(p => p.TotalAnnualizedRate).Hidden();
              columns.Bound(p => p.AnnualizedRate)
                  .HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" })
                  .Format("{0:p}")
                  .ClientFooterTemplate("<div style='text-align:center' class='lot-annualized-rate-total'></div>");
              columns.Bound(p => p.Dividends)
                  .HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:right;" })
                  .Format("{0:C}")
                  .ClientFooterTemplate("<div style='float: right'>#= kendo.format('{0:c}', sum)#</div>");
              columns.Bound(p => p.DividendAnnualizedRate)
                  .HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" })
                  .Format("{0:p}")
                  .ClientFooterTemplate("<div style='text-align:center' ></div>");
              columns.Bound(p => p.Purchased)
                  .HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" })
                  .ClientFooterTemplate("<div style='text-align:center'>#= kendo.format('{0:MM/dd/yyyy}', min)#</div>")
                  .Format("{0:MM/dd/yyyy}");
              columns.Bound(p => p.SellDate).Title("Sold")
                  .HeaderHtmlAttributes(new { @style = "text-align:center" })
                  .HtmlAttributes(new { @style = "text-align:center" })
                  .ClientFooterTemplate("<div style='text-align:center'>#= kendo.format('{0:MM/dd/yyyy}', max)#</div>")
                  .Format("{0:MM/dd/yyyy}");
              columns.Bound(p => p.DollarDays).HeaderHtmlAttributes(new {@style = "text-align:center"})
                  .HtmlAttributes(new {@style = "text-align:right"});
          })
          .Filterable()
          .Events(e => e.DataBound("data_bound_lot"))
          .Sortable(sort => sort.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Batch(false)
              .ServerOperation(false)
              .Model(model => model.Id(p => p.Basket))
              .Sort(sort => sort.Add("Equity"))
              .Read(read => read.Action("GetLotSummaryJson", "Home"))
              .Aggregates(agg =>
              {
                  agg.Add(p => p.Value).Sum();
                  agg.Add(p => p.Dividends).Sum();
                  agg.Add(p => p.FirstPurchase).Min();
                  agg.Add(p => p.LastPurchase).Max();
              })
          )
          .Resizable(resize => resize.Columns(true))
          .ColumnMenu()
          .Reorderable(reorder => reorder.Columns(true))
)


<script>

    function data_bound_lot(e) {
        var dataItems = e.sender.dataSource.view();
        if (dataItems.length > 0) {
            var total = dataItems[0].get("TotalAnnualizedRate");
            $(".lot-annualized-rate-total").append((total * 100).toFixed(2) + '%');
        }
    }

</script>